<template name="main">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                <img src="img/logo.png" class="img-responsive logo-box" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#started">Getting Started</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#costs">Cost of Solar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#benefits">Benefits of Solar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ready">Is My House Solar Ready</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header id="page-top">
        {{>yield}}
    </header>

    <section class="bg-primary general-box" id="started">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left specific-box">
                    <h2 class="section-heading">How does solar power work?</h2>
                    <!--<hr class="light">-->
                    <p class="text-faded">Solar technology has been around for a long time. But many people don't understand the system components, or how they connect with the house and the utility grid. You save money by using solar power most of the time, instead of more expensive grid power.</p>
                    <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                </div>
                <div class= "col-sm-6">
                    <div class = "position-box">
                        <div class="outer-box">
                            <img src="img/seedsdiagram2.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <!--<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-left">
                    <div class="service-box">
                        <!--<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>-->
                        <img src="img/seedsnum1.png" class="img-responsive image-box" alt=""> 
                        <h3 class="text-white"> &nbsp; Solar Panels</h3>
                        <p class="text-white">A solar (a.k.a. <i> photovoltaic</i>) panel works by allowing photos, particles of light, to knock electrons free from atoms. This generates a direct current (DC) of electricity. Photovoltaic (PV) simply means that sunlight (<i>photo</i>) is converted into electricity (<i>voltaic</i>).</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-left">
                    <div class="service-box">
                        <!--<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>-->
                        <img src="img/seedsnum2.png" class="img-responsive image-box" alt="">
                        <h3 class="text-white">&nbsp; Inverter</h3>
                        <p class="text-white">An inverter is a crucial part of the solar system. It converts the direct current (DC) from solar panels, into alternating current (AC), so that the electricity generated by the solar system can be used in your home.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-left">
                    <div class="service-box">
                        <!--<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>-->
                        <img src="img/seedsnum3.png" class="img-responsive image-box" alt="">
                        <h3 class="text-white">&nbsp; Meter</h3>
                        <p class="text-white">An electric (a.k.a. energy) meter measures the amount of electricity supplied to your home by your utility, as well as the amount of electricity produced by the solar system. During the day, as the solar system produces electricity, any unused solar energy is fed back to the utility grid, causing the meter to spin backwards. During the night or at other times when you draw electricity from your utilty, the meter spins forward.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-left">
                    <div class="service-box">
                        <!--<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>-->
                        <img src="img/seedsnum4.png" class="img-responsive image-box" alt=""> 
                        <h3 class="text-white">&nbsp; The Grid</h3>
                        <p class="text-white">Your home and the solar system are interconnected to the utility power grid. Throughout the course of the day, your home either draws electricity from the grid or sends any excess solar electricity out to the grid.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section id="costs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h1 class="text-heading no-margin">Costs of Solar</h1>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left">
                    <div class="service-box-auto">
                        <!--<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>-->
                        <h3 class="text-blue"> An average-sized system of 6 kilowatts (kW) will cost around $21,000. That's about $12,000 less than the cost of a new car. </h3>
                        <p class="text-dark paragraph-box">Unlike a new car, a home solar power system can reduce your monthly bills immediately and help you save on electricity for decades.</p>
                        <p class="text-dark paragraph-box">Most people actually pay less than the sticker price for solar, thanks to a 30% federal tax credit and other financial incentives. </p>
                        <p class="text-dark paragraph-box">And a variety of ownership options can reduce or efen eliminate your upfront costs altogether. </p>
                        <p class="text-dark paragraph-box">Any of these options can provice significant savings and protect you from increasing electricity rates from your utilities. </p>
                        <p class="text-dark paragraph-box">At Siviniti, we help you choose the best option for YOU- with no haggling or pressure. </p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 text-left">
                    <div class="service-box-auto">
                        <!--<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>-->
                        <img src="img/table.png" class="img-responsive image-box4" alt="">
                        <!--<h3 class="text-dark">Avoid Rising Utility Costs</h3>
                        <p class="text-dark">An inverter is a crucial part of the solar system. It converts the direct current (DC) from solar panels, into alternating current (AC), so that the electricity generated by the solar system can be used in your home.</p>-->
                    </div>
                </div>
                <!--<div class="col-lg-4 col-md-6 text-left">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <img src="img/seedshome.png" class="img-responsive image-box2" alt="">
                        <h3 class="text-dark">Invest in Your Home</h3>
                        <p class="text-dark">An electric (a.k.a. energy) meter measures the amount of electricity supplied to your home by your utility, as well as the amount of electricity produced by the solar system. During the day, as the solar system produces electricity, any unused solar energy is fed back to the utility grid, causing the meter to spin backwards. During the night or at other times when you draw electricity from your utilty, the meter spins forward.</p>
                    </div>
                </div>-->
                <!--<div class="col-lg-3 col-md-6 text-left">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <img src="img/seedsnum4.png" class="img-responsive image-box" alt=""> 
                        <h3 class="text-dark">&nbsp The Grid</h3>
                        <p class="text-dark">Your home and the solar system are interconnected to the utility power grid. Throughout the course of the day, your home either draws electricity from the grid or sends any excess solar electricity out to the grid.</p>
                    </div>
                </div>-->
            </div>
        </div>
    </section>

<section id="benefits">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h1 class="text-heading no-margin">Benefits of Solar</h1>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-left">
                    <div class="service-box-auto">
                        <!--<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>-->
                        <img src="img/seedsdollar.png" class="img-responsive image-box2" alt=""> 
                        <h2 class="text-blue"> Pay Less for Electricity</h2>
                        <p class="text-dark paragraph-box text-bold">Hundreds of thousands of people around the country saved money by switching to solar energy. </p>
                         <p class="text-dark">People typically choose to lease a system, take out a loan to buy the system, or buy the system without financing. If you prefer to pay little or nothing upfront, you may want a lease. If you can make a big upfront payment and prefer to spend less over time, you may want to get a loan or purchase the system outright. All three options save you money.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-left">
                    <div class="service-box-auto">
                        <!--<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>-->
                        <img src="img/seedsrising.png" class="img-responsive image-box2" alt="">
                        <h2 class="text-blue">Avoid Rising Utility Costs</h2>
                        <p class="text-dark paragraph-box text-bold">Solar protects you from rising utility rates.</p>
                        <p class="text-dark">Utility rates have risen steadily for decades and will likely become increasingly expensive. In many places, solar electricity is already cheaper than electricity from utilities. Solar will be an increasingly good deal in more places as utility rates continue to rise. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-left">
                    <div class="service-box-auto">
                        <!--<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>-->
                        <img src="img/seedshome.png" class="img-responsive image-box2" alt="">
                        <h2 class="text-blue">Invest in Your Home</h2>
                        <p class="text-dark paragraph-box text-bold">Depending on where you live, leased and purchased home solar systems may increase your home's value.</p>
                        <p class="text-dark paragraph-box">For instance, a study conducted by the Lawrence Berkeley National Lab in California showed that homes with solar systems: </p>
                        <p class="text-dark paragraph-box">•   Sold for an average 3.5% more than similar homes without solar</p>
                        <p class="text-dark paragraph-box">•   Stayed on the market for less time</p>
                        <p class="text-dark paragraph-box">•   Appealed to potential buyers who wanted to lock in low electric rate increases and avoid unpredictable utility rate hikes</p>

                    </div>
                </div>
                <!--<div class="col-lg-3 col-md-6 text-left">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <img src="img/seedsnum4.png" class="img-responsive image-box" alt=""> 
                        <h3 class="text-dark">&nbsp The Grid</h3>
                        <p class="text-dark">Your home and the solar system are interconnected to the utility power grid. Throughout the course of the day, your home either draws electricity from the grid or sends any excess solar electricity out to the grid.</p>
                    </div>
                </div>-->
            </div>
        </div>
    </section>

        <section id="ready">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h1 class="text-heading no-margin">Is My Home Solar Ready?</h1>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-left">
                    <div class="service-box-auto">
                        <!--<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>-->
                        <h3 class="text-blue">Exposure to Sunlight</h3>
                        <p class="text-dark">Solar panels generate the most electricity on clear, sunny days, but you don't have to live in a sunny state like California to benefit from solar. Most states -- even those with cloudy or cold climates-- get enough sunlight for solar panels to produce electricity for the home.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-left">
                    <div class="service-box-auto">
                        <!--<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>-->
                        <h3 class="text-blue">Ground Mounted Systems</h3>
                        <p class="text-dark">Solar panels are usually installed on your roof ("roof-mounted"), but if your roof is unsuitable for some reason, they can be mounted on a pole in your yard ("ground-mounted"). Some systems come mounted on a tracker that follows the sun's movement. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-left">
                    <div class="service-box-auto">
                        <!--<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>-->
                        <h3 class="text-blue">Roof Requirements</h3>
                        <p class="text-dark">Your solar system needs about 100 square feet of minimally shaded roof space for every kilowatt of electricity produced. Most residential systems are sized to produce between 2 to 6 kilowatts of electricity, so you'll likely need somewhere between 200 to 600 square feet of roof area. Solar panels are ideally suited to south-facing roofs but also work well on roofs facing southeast or southwest. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-left">
                    <div class="service-box-auto">
                        <!--<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>-->
                        <h3 class="text-blue">Shading</h3>
                        <p class="text-dark">Solar panels work most effectively when they have unobstructed access to sunlight. Our solar panel experts will review satellite imagery of your house with you to discuss any possible concerns. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!--<section class="no-padding" id="portfolio">
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>-->

        <!--<aside class="bg-dark">
            <div class="container text-center">
                <div class="call-to-action">
                    <h2>Free Download at Start Bootstrap!</h2>
                    <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
                </div>
            </div>
        </aside>-->

        <section id="contact" class="no-margin contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!--<h2 class="text-white">Siviniti Solar</h2>
                        <hr class="primary">-->
                        <p class="text-white no-margin">Siviniti Solar</p>
                        <p class="text-white no-margin">965 Mission St, San Francisco CA, 94103</p>
                        <p class="text-white"> <i class="fa fa-envelope-o fa-1x wow bounceIn image-box3" data-wow-delay=".1s"></i> info@siviniti.com | <i class="fa fa-phone fa-1x wow bounceIn image-box3"></i> 415-236-4840</p>
                    </div>
                    <!--<div class="col-sm-2 col-lg-offset-4 text-center text-white">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn image-box3" data-wow-delay=".1s"></i>
                        <p class="contact-box"><a href="mailto:jhu@cleanpowerfinance.com" class="text-white">info@siviniti.com</a></p>
                    </div>                
                    <div class="col-sm-2 text-center text-white">
                        <i class="fa fa-phone fa-3x wow bounceIn image-box3"></i>
                        <p class="text-white">415-236-4840</p>
                    </div>-->

                </div>
            </div>
        </section>

            <!-- Custom Theme JavaScript -->
    <script src="creative.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="validator.js"></script>
</template>

<template name="contactform2">
    <div class="header-content">
                <div class="header-content-inner col-sm-7 text-shift">
                    <h1>Is solar right for <b>you</b>?</h1>
                    <!--<hr>
                    <p>-->
                    <h3> Solar is a great way to invest in your home and your future. It's also a great way to save money on your electric bills.</h3> <!--</p>-->
                    <h3 id ="emphasis"> Get started with solar </h3>
                    <div class= "dissappear">
                        <a href="#costs" class="btn btn-primary btn-xl page-scroll">Costs of Solar</a> &nbsp;&nbsp; 
                        <a href="#benefits" class="btn btn-primary btn-xl page-scroll">Benefits of Solar</a>
                    </div>
                </div>
                <div class= "col-sm-5 text-left white-box">
                    <div class = "text-blue">
                        <p> Sign up to receive more information about solar in your home </p>
                    </div>
                    <form data-toggle="validator" role="form" id="mycontacts">
                        <div class="form-group has-feedback">
                            <label for="inputFirstName" class="control-label text-dark">First Name*</label>
                              <input type="text" class="form-control" id="inputFirstName" placeholder="Evelyn" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="inputLastName" class="control-label text-dark">Last Name*</label>
                              <input type="text" class="form-control" id="inputLastName" placeholder="Wolske" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="inputEmail" class="control-label text-dark">Email*</label>
                              <input type="email" class="form-control" id="inputEmail" placeholder="ewolske@email.com" data-error="That email address is invalid" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="inputPhone" class="control-label text-dark">Phone*</label>
                              <input type="text" pattern="^[_-0-9]{1,}$" class="form-control" id="inputPhone" placeholder="123-456-7890" data-error="That number is invalid" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-xl" id="signup">Sign up now</button>
                        </div>
                    </form>
                </div>
            </div>
</template>

<template name="thankyou">
    <div class="header-content">
            <div class="header-content-top col-sm-12 text-center">
                <h1>Thanks for signing up.</h1>
                <!--<hr>
                <p>-->
                <h3 class="text-transparent" id="headernomargin"> We'll be in touch soon.</h3> <!--</p>-->
                <h3 class="text-transparent" id ="headernomargin2">In the meantime, explore the benefits of solar. </h3>
                <a href="#benefits" class="btn btn-primary btn-xl page-scroll">Benefits of Solar</a>
            </div>
    </div>
            <script src="creative.js"></script>
</template>